/*========== FONTES ==========*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Satisfy&family=Titillium+Web:wght@200;300;400;600;700&display=swap');

/*----COLORS----*/

$color-background: #121214;
$color-background-secundaria: #202024;
$color-background-border:#29292d;
$color-font-primaria: #c4c4cc;
$color-font-secundaria: #d71f5b;

/*----FONTS----*/

$font-primaria: 'Titillium Web', sans-serif;
$font-secundaria: 'Roboto Mono', monospace;
$font-tercaria: 'Roboto', sans-serif;
$font-quatenaria: 'Poppins', sans-serif;
$font-quintanaria: 'Satisfy', cursive;

/*----LAYOUT RESET----*/

* {
  @include resetStyle;
}