@charset "UTF-8";
/*========== FONTES ==========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Satisfy&family=Titillium+Web:wght@200;300;400;600;700&display=swap");
/*----COLORS----*/
/*----FONTS----*/
/*----LAYOUT RESET----*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #c4c4cc;
  font-family: "Titillium Web", sans-serif;
  background-color: #121214;
}

@media (max-width: 1200px) {
  #section-apresentation .conteiner-content {
    height: 97vh !important;
  }
  #section-apresentation .conteiner-content .ft-perf {
    width: 295px !important;
  }
  #section-apresentation .conteiner-content .ft-perf::before {
    height: 425px !important;
    width: 290px !important;
  }
  #section-apresentation .conteiner-content .ft-perf img {
    width: 290px !important;
  }
  #section-apresentation .conteiner-content .apresentation-my {
    width: 400px !important;
  }
  #section-apresentation .conteiner-content .apresentation-my h1 {
    font-size: 50px !important;
  }
  #section-apresentation .conteiner-content .apresentation-my p:nth-child(3) {
    font-size: 18px !important;
    width: 400px !important;
  }
  #section-apresentation .conteiner-content .apresentation-my a img {
    width: 95px !important;
  }
  #section-about .about-content .about-title h2 {
    font-size: 40px !important;
  }
  #section-about .about-content .about-me {
    width: 700px !important;
  }
  #section-about .about-content .about-me p {
    font-size: 19px !important;
    text-align: justify;
    line-height: 30px;
  }
  #section-skills .skills-box .skills-title {
    width: 350px;
  }
  #section-skills .skills-box .skills-title h2 {
    font-size: 45px;
    color: #d71f5b;
    text-shadow: 0px 0px 2px rgba(255, 79, 138, 0.3647058824);
  }
  #section-skills .skills-box .skills-title p {
    padding: 18px;
    font-size: 15px;
    text-align: justify;
  }
  #section-skills .skills-box .skills-me-slider {
    width: 600px !important;
  }
  #section-skills .skills-box .skills-me-slider .skills-conteiner:hover {
    transform: scale(1.1);
    border: 2px solid #d71f5b;
    box-shadow: 0px 0px 7px rgba(255, 79, 138, 0.431372549);
  }
  #section-skills .skills-box .skills-me-slider .skills-conteiner img {
    width: 50px;
    background-color: transparent;
  }
}
@media (max-width: 800px) {
  .menu {
    flex-direction: column;
    justify-content: center !important;
    gap: 2px !important;
  }
}
@media (max-width: 610px) {
  #section-menu {
    padding: 0px 25px !important;
  }
  #section-menu .menu {
    flex-direction: row;
    justify-content: space-between !important;
  }
  #section-menu .menu .logo a {
    font-size: 23px !important;
  }
  #section-menu .menu .logo a span {
    font-size: 30px !important;
  }
  #section-menu .menu .btnHamburg {
    display: flex !important;
  }
  #section-menu .menu .menu-list {
    width: 100%;
    display: none !important;
    position: absolute;
  }
  #section-menu .menu .menu-list.active {
    height: 55px;
    width: 100%;
    top: 63px;
    right: 0px;
    display: flex !important;
    justify-content: center;
    gap: 15px !important;
    background-color: #121214;
    border-bottom: 2px solid #202024;
  }
  #section-menu .menu .menu-list.active li {
    text-align: center;
    background-color: transparent;
  }
  #section-menu .menu .menu-list.active li a {
    color: #c4c4cc;
    font-size: 13px !important;
    font-family: "Roboto Mono", monospace !important;
    font-weight: 700;
    background-color: transparent;
  }
  #section-apresentation .conteiner-content {
    padding: 130px 37px 20px 37px !important;
    gap: 0px !important;
    text-align: center;
  }
  #section-apresentation .conteiner-content .ft-perf {
    height: 330px;
  }
  #section-apresentation .conteiner-content .ft-perf::before {
    left: -20px !important;
    height: 330px !important;
    width: 225px !important;
  }
  #section-apresentation .conteiner-content .ft-perf img {
    width: 230px !important;
  }
  #section-apresentation .conteiner-content .apresentation-my {
    height: 30% !important;
    width: 100% !important;
    white-space: wrap !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
  }
  #section-apresentation .conteiner-content .apresentation-my p:first-child {
    font-size: 23px !important;
  }
  #section-apresentation .conteiner-content .apresentation-my h1 {
    height: 50px !important;
    width: 100% !important;
    margin-bottom: 9px !important;
    font-size: 37px !important;
  }
  #section-apresentation .conteiner-content .apresentation-my p:nth-child(3) {
    height: 50px !important;
    width: 100% !important;
    font-size: 18px !important;
  }
  #section-apresentation .conteiner-content .apresentation-my a img {
    width: 95px !important;
    margin: 22px 0px 0px 0px !important;
    background-color: transparent;
  }
  #section-about .about-content .about-title h2,
  #section-about .about-content i {
    font-size: 38px !important;
  }
  #section-about .about-content .about-me p {
    font-size: 18px !important;
  }
}
@media (max-width: 495px) {
  #section-menu {
    height: 75px !important;
  }
  #section-apresentation .conteiner-content {
    padding: 120px 25px 20px 25px !important;
  }
  #section-apresentation .conteiner-content .ft-perf {
    height: 44% !important;
  }
  #section-apresentation .conteiner-content .ft-perf::before {
    left: -20px !important;
    height: 290px !important;
    width: 200px !important;
  }
  #section-apresentation .conteiner-content .ft-perf img {
    width: 200px !important;
  }
  #section-apresentation .conteiner-content .apresentation-my {
    height: 40% !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  #section-apresentation .conteiner-content .apresentation-my h1 {
    margin: 0px !important;
    width: 100% !important;
    font-size: 28px !important;
  }
  #section-apresentation .conteiner-content .apresentation-my p:nth-child(3) {
    height: 60px !important;
    width: 100% !important;
    font-size: 17px !important;
  }
  #section-apresentation .conteiner-content .apresentation-my a img {
    margin: 0px !important;
    width: 95px !important;
  }
  #section-about .about-content .about-title h2,
  #section-about .about-content i {
    font-size: 28px !important;
  }
  #section-about .about-content .about-me p {
    font-size: 17px !important;
  }
}
@media (max-width: 395px) {
  #section-apresentation .conteiner-content .ft-perf {
    height: 34% !important;
  }
  #section-apresentation .conteiner-content .ft-perf::before {
    left: -20px !important;
    height: 224px !important;
    width: 150px !important;
  }
  #section-apresentation .conteiner-content .ft-perf img {
    width: 150px !important;
  }
  #section-apresentation .conteiner-content .apresentation-my {
    height: 55% !important;
    width: 100% !important;
    justify-content: flex-start;
    gap: 8px !important;
  }
  #section-apresentation .conteiner-content .apresentation-my h1 {
    width: 100% !important;
  }
  #section-apresentation .conteiner-content .apresentation-my p:nth-child(3) {
    margin-bottom: 15px !important;
    height: 50px !important;
    width: 100% !important;
    font-size: 18px !important;
  }
  #section-apresentation .conteiner-content .apresentation-my a img {
    width: 95px !important;
  }
  #section-about .about-content {
    gap: 10px !important;
  }
  #section-about .about-content .about-title h2,
  #section-about .about-content i {
    font-size: 25px !important;
  }
  #section-about .about-content .about-me p {
    font-size: 15px !important;
  }
  #section-about .about-content .about-me p:first-child {
    margin-bottom: 14px !important;
  }
}
@media (max-width: 375px) {
  #section-apresentation .conteiner-content .apresentation-my {
    height: 40% !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0px;
  }
  #section-apresentation .conteiner-content .apresentation-my p:first-child {
    margin-top: 10px !important;
    font-size: 20px !important;
  }
  #section-apresentation .conteiner-content .apresentation-my h1 {
    height: 39px !important;
    width: 100% !important;
    font-size: 26px !important;
  }
  #section-apresentation .conteiner-content .apresentation-my p:nth-child(3) {
    margin-bottom: 0px !important;
    height: 50px !important;
    width: 100% !important;
    font-size: 16px !important;
  }
  #section-apresentation .conteiner-content .apresentation-my a img {
    width: 95px !important;
  }
}
@media (max-width: 360px) {
  #section-apresentation .conteiner-content .ft-perf {
    height: 42% !important;
  }
  #section-apresentation .conteiner-content .apresentation-my {
    height: 40% !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0px;
  }
  #section-apresentation .conteiner-content .apresentation-my p:first-child {
    margin-top: 10px !important;
    font-size: 20px !important;
  }
  #section-apresentation .conteiner-content .apresentation-my h1 {
    height: 39px !important;
    width: 100% !important;
    font-size: 26px !important;
  }
  #section-apresentation .conteiner-content .apresentation-my p:nth-child(3) {
    margin-bottom: 0px !important;
    height: 50px !important;
    width: 100% !important;
    font-size: 16px !important;
  }
  #section-apresentation .conteiner-content .apresentation-my a img {
    width: 95px !important;
  }
  #section-about .about-content {
    gap: 10px !important;
  }
  #section-about .about-content .about-title h2,
  #section-about .about-content i {
    font-size: 22px !important;
  }
  #section-about .about-content .about-me p {
    font-size: 13px !important;
  }
  #section-about .about-content .about-me p:first-child {
    margin-bottom: 10px !important;
  }
}
/*========== CONFIG GERAL ==========*/
#section-menu {
  /*----CONFIG LAYOUT----*/
  position: fixed;
  z-index: 1000;
  height: 90px;
  width: 100%;
  padding: 0px 50px;
  border-bottom: 2px solid #202024;
}
#section-menu .menu {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0px;
  /*----CONFIG LOGO----*/
  /*----CONFIG MENU HAMBURG----*/
  /*----CONFIG LINKS DE NAVEGAÇÃO----*/
}
#section-menu .menu .logo a {
  display: block;
  font-size: 25px;
  font-weight: 700;
}
#section-menu .menu .logo a span {
  font-size: 31px;
  color: #d71f5b;
  margin-right: 6px;
}
#section-menu .menu .btnHamburg {
  display: none;
  align-items: center;
  justify-content: center;
  flex-wrap: none;
  gap: 0px;
  content: "";
  position: relative;
  top: 4px;
  height: 2px;
  width: 25px;
  border-radius: 4px;
  background-color: #c4c4cc;
  cursor: pointer;
  transition: 100ms ease;
}
#section-menu .menu .btnHamburg::before {
  content: "";
  position: absolute;
  top: 8px;
  height: 2px;
  width: 25px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #c4c4cc;
}
#section-menu .menu .btnHamburg::after {
  content: "";
  position: absolute;
  bottom: 8px;
  height: 2px;
  width: 25px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #c4c4cc;
}
#section-menu .menu .btnHamburg.active {
  height: 0px;
  width: 25px;
}
#section-menu .menu .btnHamburg.active::before {
  top: -2px;
  transition: 90ms ease;
  transform: rotate(45deg);
}
#section-menu .menu .btnHamburg.active::after {
  top: -2px;
  transition: 90ms ease;
  transform: rotate(-45deg);
}
#section-menu .menu .menu-list {
  display: flex;
  align-items: center;
  justify-content: none;
  flex-wrap: wrap;
  gap: 35px;
}
#section-menu .menu .menu-list li {
  position: relative;
}
#section-menu .menu .menu-list li a {
  font-size: 15px;
}
#section-menu .menu .menu-list li a:hover {
  transition: 300ms ease-in-out;
  color: #d71f5b;
}
#section-menu .menu .menu-list li::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 0px;
  transition: 300ms ease;
}
#section-menu .menu .menu-list li:hover::before {
  width: 100%;
  bottom: -3px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #d71f5b, rgba(0, 0, 0, 0));
}
#section-menu .menu .menu-list li a {
  font-family: "Roboto Mono", monospace;
}

/*========== CONFIG GERAL ==========*/
html {
  scroll-behavior: smooth;
}
html body {
  background-color: #121214;
}
html body::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}
html body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(rgba(255, 255, 255, 0), #d71f5b, #ff0077, #d71f5b, rgba(0, 0, 0, 0));
}

main {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .estruturaDaMain {
  width: 1200px;
}
main .estruturaDaMain #section-apresentation {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0px;
}
main .estruturaDaMain #section-apresentation .conteiner-content {
  height: 80vh;
  width: 100vw;
  border-bottom: 2px solid #202024;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}
main .estruturaDaMain #section-apresentation .conteiner-content .ft-perf {
  width: 325px;
  position: relative;
}
main .estruturaDaMain #section-apresentation .conteiner-content .ft-perf::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -24px;
  height: 455px;
  width: 310px;
  border: 5px solid #202024;
}
main .estruturaDaMain #section-apresentation .conteiner-content .ft-perf img {
  width: 320px;
  margin-top: 5px;
  filter: grayscale(1);
}
main .estruturaDaMain #section-apresentation .conteiner-content .apresentation-my {
  width: 800px;
}
main .estruturaDaMain #section-apresentation .conteiner-content .apresentation-my p:first-child {
  color: #d71f5b;
  font-family: "Roboto Mono", monospace;
  font-size: 29px;
  position: relative;
}
main .estruturaDaMain #section-apresentation .conteiner-content .apresentation-my p:first-child span {
  position: absolute;
  margin-left: 4px;
  animation: rotateEmoji 2s 3s infinite ease-in-out;
  background-color: transparent;
}
@keyframes rotateEmoji {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
main .estruturaDaMain #section-apresentation .conteiner-content .apresentation-my h1 {
  font-size: 70px;
}
main .estruturaDaMain #section-apresentation .conteiner-content .apresentation-my p:nth-child(3) {
  height: 86px;
  width: 617px;
  font-size: 28px;
}
main .estruturaDaMain #section-apresentation .conteiner-content .apresentation-my a img {
  margin: 0px 0px 0px 35%;
  width: 110px;
}
main .estruturaDaMain #section-about {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0px;
}
main .estruturaDaMain #section-about .about-content {
  height: 80vh;
  width: 100vw;
  border-bottom: 2px solid #202024;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}
main .estruturaDaMain #section-about .about-content .about-title {
  width: 325px;
  text-align: center;
}
main .estruturaDaMain #section-about .about-content .about-title h2 {
  font-size: 45px;
  color: #d71f5b;
  text-shadow: 0px 0px 2px rgba(255, 79, 138, 0.3647058824);
}
main .estruturaDaMain #section-about .about-content .about-title h2 i {
  color: inherit;
  margin-right: 20px;
  text-shadow: 0px 0px 2px rgba(255, 79, 138, 0.3647058824);
}
main .estruturaDaMain #section-about .about-content .about-me {
  width: 800px;
  position: relative;
}
main .estruturaDaMain #section-about .about-content .about-me p {
  font-size: 23px;
  text-align: justify;
  line-height: 30px;
}
main .estruturaDaMain #section-about .about-content .about-me p:first-child {
  margin-bottom: 20px;
}
main .estruturaDaMain #section-about .about-content .about-me a img {
  position: absolute;
  bottom: -115px;
  left: 45%;
  width: 110px;
  background-color: transparent;
}
main .estruturaDaMain #section-skills {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0px;
}
main .estruturaDaMain #section-skills .skills-box {
  height: 80vh;
  width: 100vw;
  border-bottom: 2px solid #202024;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}
main .estruturaDaMain #section-skills .skills-box .skills-title {
  position: relative;
  height: 424px;
  width: 370px;
  text-align: center;
  align-content: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
main .estruturaDaMain #section-skills .skills-box .skills-title h2 {
  font-size: 45px;
  color: #d71f5b;
  text-shadow: 0px 0px 2px rgba(255, 79, 138, 0.3647058824);
}
main .estruturaDaMain #section-skills .skills-box .skills-title h2 i {
  color: inherit;
  margin-right: 5px;
  text-shadow: 0px 0px 2px rgba(255, 79, 138, 0.3647058824);
}
main .estruturaDaMain #section-skills .skills-box .skills-title p {
  padding: 18px;
  font-size: 15px;
  text-align: justify;
  border-radius: 8px;
  border: 2px solid #29292d;
  background-color: #202024;
  transition: 200ms ease;
}
main .estruturaDaMain #section-skills .skills-box .skills-title .active {
  transform: scale(1.06);
  box-shadow: 0px 0px 7px rgba(255, 79, 138, 0.431372549);
  border-color: #d71f5b;
}
main .estruturaDaMain #section-skills .skills-box .skills-title a img {
  position: absolute;
  bottom: 62px;
  left: 34%;
  width: 110px;
  background-color: transparent;
}
main .estruturaDaMain #section-skills .skills-box .skills-me-slider {
  width: 700px;
  display: grid;
  justify-content: center;
  grid-template-columns: 128px 128px 128px 128px;
  grid-template-rows: 128px 128px 128px;
  gap: 25px;
}
main .estruturaDaMain #section-skills .skills-box .skills-me-slider .skills-conteiner {
  border: 2px solid #29292d;
  border-radius: 8px;
  background-color: #202024;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  transition: 200ms ease;
}
main .estruturaDaMain #section-skills .skills-box .skills-me-slider .skills-conteiner:hover {
  transform: scale(1.1);
  border: 2px solid #d71f5b;
  box-shadow: 0px 0px 7px rgba(255, 79, 138, 0.431372549);
}
main .estruturaDaMain #section-skills .skills-box .skills-me-slider .skills-conteiner img {
  width: 50px;
  background-color: transparent;
}
main .estruturaDaMain #section-projects {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0px;
}
main .estruturaDaMain #section-projects .projects-box {
  height: 80vh;
  width: 100vw;
  border-bottom: 2px solid #202024;
  display: flex;
  align-items: normal;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
main .estruturaDaMain #section-projects .projects-box .projects-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
}
main .estruturaDaMain #section-projects .projects-box .projects-title h2 {
  font-size: 45px;
  color: #d71f5b;
  text-shadow: 0px 0px 2px rgba(255, 79, 138, 0.3647058824);
}
main .estruturaDaMain #section-projects .projects-box .projects-title h2 i {
  color: inherit;
  margin-right: 5px;
  text-shadow: 0px 0px 2px rgba(255, 79, 138, 0.3647058824);
}
main .estruturaDaMain #section-projects .projects-box .projects-title span {
  width: 50%;
  border-bottom: 2px solid #202024;
}
main .estruturaDaMain #section-projects .projects-box .projects-title a {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #d71f5b;
}
main .estruturaDaMain #section-projects .projects-box .projects-title a i {
  color: #d71f5b;
  font-size: 45px;
  text-shadow: 0px 0px 2px rgba(255, 79, 138, 0.3647058824);
}
main .estruturaDaMain #section-projects .projects-box .projects-me-slider {
  width: 100%;
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: 270px 270px 270px;
  grid-template-rows: 200px 200px;
  column-gap: 50px;
  row-gap: 20px;
}
main .estruturaDaMain #section-projects .projects-box .projects-me-slider .projects-conteiner {
  border: 2px solid #29292d;
  border-radius: 8px;
  background-color: #202024;
  transition: 200ms ease;
  overflow: hidden;
  cursor: pointer;
}
main .estruturaDaMain #section-projects .projects-box .projects-me-slider .projects-conteiner img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  filter: blur(4px);
  transition: 200ms ease;
}
main .estruturaDaMain #section-projects .projects-box .projects-me-slider .projects-conteiner img:hover {
  filter: blur(0px);
  transform: scale(1.05);
}
main .estruturaDaMain #section-projects .projects-box .projects-me-slider .projects-conteiner:hover {
  transform: scale(1.02);
}
main .estruturaDaMain #section-projects .projects-box .projects-me-slider a .arrowSeta {
  position: absolute;
  bottom: 27px;
  left: 46%;
  width: 110px;
  background-color: transparent;
}

/*# sourceMappingURL=style.css.map */
